<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 centered">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 style="text-align: center; font-size: 30px; color: #337ab7;"><p><%=todo.name%></p></h4>
                    <p><%= todo.description %></p>
                    <% if ( moment(todo.expiration_date).diff(moment(), "days") < 3 ) { %>
                        <p style="color: #e60000;"><strong>Határidő: <%= todo.expiration_date %></strong></p>
                    <% } else { %>
                        <p><strong>Határidő: <%= todo.expiration_date %></strong></p>
                    <% } %>
                    <p>
                        <em>Submitted by <%= todo.author.username %></em>
                    </p>
                    <% if (currentUser && todo.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/todos/<%= todo._id %>/edit">Edit</a>
                        <form id="delete-form" action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/todos/<%= todo._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% todo.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 3%">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= today.diff(comment.date, "days") %> days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/todos/<%= todo._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form id="delete-comment" action="/todos/<%= todo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>